
    <form action="/search">
        <input type="text">
        <button type="button">Search</button>
    </form>
    <main>
        <section class="cats">
            <ul>
                {{#each cats}}
                    {{>cat}}
                {{/each}}
            </ul>
        </section>
    </main>